<div class="vt-timeline-block">
  <div class="vt-timeline-img vt-picture">
    <i class="fa fa-calendar fa-2x"></i>
  </div>

  <div class="vt-timeline-content">
    <h2>{{title}}</h2>
    {{yield}}
  </div>
</div>
